################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoPilot/v16
/obj/Debug
/packages
/Errors.txt
